<div
    class="row justify-content-lg-between align-items-start p-5 text-white"
    style="
        margin-top: 8px;
        margin-bottom: 50px;
        color: #ffff;
        background: #225d;
        border-radius: 2px;
        box-shadow: 10px 10px 20px #0009"
>
    <div class="col-lg-12 text-left">
        <h4 style="font-size:34px">
            NY Times
            <span>
                <button
                    class="text-decoration-underline text-white float-end"
                    (click)="allArticles()"
                >
                    See all articles
                </button>
            </span>
        </h4>
        <h4 style="font-size:24px; font-weight:100">Top Stories</h4>
        <hr>
    </div>
    <div class="row text-left">
        <div
            *ngFor="let article of articles"
            class="col-lg-6"
        >
            <a
                class="text-white"
                href="{{article.url}}" target="_blank"
            >
                <img
                    height="125" class="my-2"
                    src="{{article.multimedia !== null ? article.multimedia[2].url : ''}}"
                ><br>
                <strong>{{article.title}}</strong>
                <p style="font-size:12px">{{article.abstract}}</p>
            </a>
        </div>
    </div>
    <button
        class="submit-btn" style="padding:11px 0px; font-size:14px"
        (click)="loadMore()"
    >
        Load more...
    </button>
    <hr>
</div>



