<footer class="">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 justify-content-center align-items-center text-center text-white p-2">
                <div *ngIf="!this.authService.userData">
                    <a routerLink='/login' type="button" class="app-btn">
                        Sign In
                    </a>
                    <span><a routerLink='/signup' type="button" class="text-white mx-5">
                        Register Free
                    </a></span>
                </div>
                <div *ngIf="this.authService.userData">
                    <span style="margin:10px; font-size:16px">
                        {{this.authService.userData.email}} is signed in</span>
                    <button
                        routerLink='/login' class='app-btn'
                        (click)="this.authService.signOut()">Sign Out</button>
              </div>
        </div>
    </div>
    <div class="row links justify-content-center align-items-center">
        <div class="col-lg-3">
            <ul class="mx-auto col-lg-3 list-unstyled text-start text-white">
                <li><a href="#!" class="text-white">About Us</a></li>
                <li><a href="#!" class="text-white">Contact</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="mx-auto col-lg-3 list-unstyled text-start text-white">
                <li><a href="#!" class="text-white">Site Map</a></li>
                <li><a href="#!" class="text-white">Preferences</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="mx-auto col-lg-3 list-unstyled text-start text-white">
                <li><a href="#!" class="text-white">Privacy Policy</a></li>
                <li><a href="#!" class="text-white">Terms of Use</a></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="social col-lg-12 text-center text-white m-0 p-3">
            <span class="mx-2">Follow Us</span>
            <img class="mx-2" height="30" src="./assets/Icon-facebook-white.png" alt="new"/>
            <img class="mx-2" height="30" src="./assets/Icon-instagram-circle-white.png" alt="new"/>
            <img class="mx-2" height="30" src="./assets/Icon-twitter-white.png" alt="new"/>
            <img class="mx-2" height="30" src="./assets/Icon-google-white.png" alt="new"/>
        </div>
    </div>
    <div class="row copyright justify-content-center align-items-center m-0">
        <div class="col-lg-12 p-2 text-center text-white">
            ©2022 Copyright
        </div>
    </div>
</footer>



