<div class='profile page'>
    <div class="header row justify-content-lg-left align-items-start">
        <div class="col-lg-6 text-left">
            <div class="row justify-content-lg-left align-items-center">
                <div class="col-lg-10 text-left my-3 text-white">
                    <div>
                        <h2>
                        {{this.authService.userData.first}} {{this.authService.userData.last}}
                        </h2>
                        {{this.authService.userData.email}}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 py-2 text-lg-end">
            <p class="profile-settings text-white">
                <span
                    *ngIf="this.authService.userData.email"
                    style="color:#0079c2"
                >
                {{this.authService.userData.email}}</span> is signed in
                    <img
                            width="40" height="40" class="m-2"
                            src="{{this.authService.userData.photoURL}}"
                            style="border-radius:50%"
                    />
                <button
                    (click)="this.authService.signOut()"
                    class="app-btn"
                >Sign Out
                </button><br>
                <a href
                    routerLink='/signin'
                    class="mx-2 text-white"
                >
                    Delete Account
                </a>
                <span><img width="20px" class="m-3" src="../assets/Icon-gear-white.png" alt='new'/></span>
            </p>
        </div>
    </div>
    <div class="row justify-content-lg-center align-items-start">
        <div class="col-lg-5 text-left m-lg-1">
            <friends></friends>
            <gallery></gallery>
            <users></users>
        </div>
        <div class="col-lg-5 text-left my-lg-1">
            <news></news>
            <messages></messages>
        </div>
        <div class="col-lg-5 text-left my-lg-1">
        </div>
    </div>
</div>



