<div class="signup">
    <div class="row justify-content-lg-center align-items-center">
        <div class="col-lg-5 text-start">
            <div class="col-lg-10 text-left p-3">
                <h1>Sign Up</h1>
                <h2>Connect Today and Change The World</h2>
            </div>
            <div class="App-modal text-left">
                <div id='form'>
                    <h2 style="color:#222f">Sign Up</h2>
                    <input
                        #first type="text" placeholder="First Name"
                    /><br>
                    <input
                        #last type="text" placeholder="Last Name"
                    /><br>
                    <input
                        #email type="text" placeholder="Email"
                    /><br>
                    <div class="eye-container">
                        <input
                            #password
                            [type]="showPassword ?  'password' : 'text'"
                            name="password"
                            placeholder="Password"
                            pattern="(?=([^a-z]*[a-z]){1,})(?=([^A-Z]*[A-Z]){1,})(?=([^0-9]*[0-9]){1,})(?=(.*[$@$!%*?&]){0,})[A-Za-z\d$@$!%*?&.]{8,}"
                        />
                        <a class="btn-invisible">
                            <img
                                id="eye" class="eye"
                                [src]="showPassword ? './assets/Icon-eye-closed.png' : './assets/Icon-eye-open.png' "
                                (click)="togglePassword()"
                            />
                        </a>
                    </div>
                    <input
                        class="submit-btn" type="submit" value="Sign Up"
                        (click)="authService.signUp(first.value, last.value, email.value, password.value)"
                    /><br>
                    <div class="row justify-content-lg-center align-items-stretch">
                        <div class="col-lg-10 text-right px-2">
                            <span style="font-size:10px">* By clicking "Sign Up", you are agreeing to the Terms of Service and Privacy policy.</span>
                            <br><br>
                            <p>Already have an account?
                                <a
                                    class=".App-btn"
                                    routerLink='/login'
                                >
                                    <strong>Sign In</strong>
                                </a><br>
                            </p>
                        </div>
                    </div>
                  </div>
                <div class="row justify-content-lg-center align-items-stretch">
                    <div class="col-lg-6 text-center">
                        <span><button class=".app-btn">
                            <img width='75' src="../assets/Icon-facebook.png" alt="new"/>
                        </button></span>
                        <span><button class=".app-btn">
                            <img width='75' src="../assets/Icon-google.png" alt="new"/>
                        </button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 text-right px-5">
            <img class="w-100" src="../assets/Devices7.png" alt="new"/>
        </div>
    </div>
</div>



